#imageingredient{
    border-radius: 3px;
    padding-top: 10px;
}

#texteingredient{
    text-align: center;
}

.tri {
	 text-align:center;
	 margin: 2%;
	 .bouton{
	 
	 margin-right: 1%;
	 }
}