#imageingredient{
    border-radius: 3px;
    padding-top: 10px;
}

#texteingredient{
    text-align: center;
}

.tri {
	 text-align:center;
	 margin: 2%;
	 .bouton{
	 
	 margin-right: 1%;
	 }
}


.ingredients{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2.5%;
}

.etapes{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2.5%;
}

header{
	background-color:#e93f1c;
	.img {
		max-width:70%;
		margin:1%;
	}
	.divImg{
		vertical-align:top;
		max-width:15%;
		display:inline-block;
	}
	.title {
		width:70%;
		vertical-align:bottom;
		margin-bottom:2%;
		display:inline-block;
	}
}

footer {
	background-color:#e93f1c;
	height:70px;
}